@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,400&display=swap');

body {
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  background-color: #ffffff;
  letter-spacing: 0.075em;
  color: #ffffff;
  text-align: center;
}

#navbar {
  max-width: 1520px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: stretch;
  flex: 1;
  padding-left: 8%;
  padding-right: 8%;
  background-color: #004d40;
}

nav a{
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 0.8rem;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
}

a:hover {
  color: #82fb8e;
}

header {
  background-color: #004d40;
  max-height: 80vh;
  min-height: 760px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 8%;
  padding-right: 8%;
}

header h1, h2, h3{
  font-weight: 300;
}

header h3 {
  font-style: italic;
}

footer {
  background-color:#e8faec;
  min-height: 18vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
  padding-left: 40%;
  padding-right: 40%;
}

footer a{
  color: #004d40;
  text-decoration: none;
  transition: transform 0.5s ease;
}

footer a:hover {
  transform: scale(1.1);
  color: #004d40;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 2%;
  padding-left: 8%;
  padding-right: 8%;
  background-color:#e8faec;
}

input[type=text] {
  font-family: 'DM Sans', sans-serif;
  width: 26%;
  padding: 10px;
  margin: 1%;
  background-color: #004d40;
  border-radius: 5px;
  color: #ffffff;
}

::placeholder {
  color: #ffffff;
}

button {
  background-color:#00a7a7b2;
  border-radius: 0.5em;
}

/* button:hover {
  color: #ffffff;
  cursor: pointer;
}

button[type=submit]{
  margin: 10px;
  width: 80px;
  height: 40px;
} */

/* .plant-card {
  display: inline-block;
  height: auto;
  width: 300px;
  margin: 10px;
  border: 2px solid #5c5c5c;
  border-radius: 0.25em;
} */

.plant-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  color: #004d40;
  border: 2px solid #004d40;
  padding: 2%;
  margin: 1%;
}

h2#latin {
  font-style: italic;
}
